#intro {
  height: 100vh;
}
.intro-header {
  display: flex;
  padding-top: 25vh;
  position: relative;
  height: 100vh;
}

.intro-header > div {
  position: relative;
  display: block;
}
.intro-header > div > img {
  width: 230px;
  height: auto;
}
.intro-header > div > p {
  text-align: center;
  max-width: 230px;
  font-size: 22px;
  line-height: 22px;
  margin-top: 5px;
  color: #f9f9f9;
}
.intro-header > div > p > span {
  font-size: 19px;
}

#intro > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.intro-header > p {
  font-size: 65px;
  margin-top: 20px;
  padding-left: 30px;
  color: white;

  text-align: left;
  line-height: 65px;
  display: block;
  position: relative;
  /* text-shadow: #dfdfdf 0px 0px 13px; */
  text-shadow: 1px 0 #dfdfdf, 0 1px #dfdfdf, 1px 0 #dfdfdf, 0 1px #dfdfdf;
}
#intro > a {
  width: 170px;
  height: 85px;
  /* border-radius: 50%; */
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  /* border-radius: 100% 100% 0 0; */
  position: absolute;
  bottom: 0px;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f9f9f9;
  color: var(--green1);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  transition: width 0.3s, height 0.3s;
}
#intro > a:hover {
  width: 173px;
  height: 88px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .intro-header {
    padding-top: 18vh;
  }
  .intro-header > div {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 24vh;
    /* left: 36px;
    bottom: 25vh;
    top: auto; */
  }
  .intro-header > div > p {
    font-size: 18px;
    color: black;
  }
  .intro-header > div > p > span {
    font-size: 16px;
  }
  .intro-header > div > img {
    width: 130px;
    padding-right: 15px;
  }
  .intro-header > p {
    font-size: 45px;
    line-height: 59px;
    padding-left: 0;
  }
}
@media (max-width: 575px) {
  .intro-header {
    padding-left: 36px !important;
  }
  .intro-header > div {
    left: 36px;
  }
}
