html,body
{
    font-family: 'Lato', sans-serif;
    color: #404040;
    height: 100%;
    width: 100%;
}
.navbar
{
    height: 65px;
    background-color: #dfdfdf !important;
}

.offer-svg
{
    height: 90px;
    width: 90px;
    fill: #404040;
}
.offer-icons
{
    display: none !important;
    font-size: 70px;    
}
.offer-label
{
    font-size: 22px;
    line-height: 21px;
}
.offer-field
{
    text-align: center;
    
}
.green-circle
{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #DFDFDF;
    padding: 10px;
    opacity: .8;

    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.horizontal-line
{
    display: inline-block;
    
    border: 1px solid #dfdfdf;
}
.carousel-item > img
{
    max-height: 430px;
    object-fit: cover;
    object-position: center;
    border-radius: 14px;
   
}

.background
{
    border-radius: 14px 14px 0px 0px;
    background-color: #dfdfdf;
}
.contact-header
{
    text-transform: uppercase;
    font-weight: 600;
}
.contact-list
{
    list-style: none;
    padding-left: 10px;
}

.carousel-item-next .carousel-caption {
    opacity: 0.1;
}
.carousel-item-prev .carousel-caption{
    opacity: 0.1;
}
.carousel-caption
{
    right: 0;
    left: auto;
    text-align: left;
    top: 30%;
    transform: translateY(-30%);
    height: 210px;
    width: 390px;
    background-color: #2FAD55;
    opacity: .95;
    border-radius: 14px 0px 0px 14px;
    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;

}
.caption-field
{
    padding: 5px;
    margin-left: 5px;
}
.carousel-caption p
{
    color: #f9f9f9;
}
.upper-caption
{
    
    font-size: 32px;
    margin-bottom: 8px;
    font-weight: 600;

}
.description-caption
{
    font-size: 18px;
    line-height: 18px;
    
}
.caption-btn
{
    background-color: #f9f9f9;
    border: none;
    color: #404040;
    text-align: center;
    text-decoration: none;
    width: 95px;
    height: 32px;
    bottom: 12%;
    position: absolute;
    padding: 0px;
    
    
}
.caption-btn:hover
{
    background-color: #dfdfdf;
    color: #2FAD55;
}
.carousel-indicators li
{
    height: 22px;
    width: 22px;
    border-radius: 40% !important;
    margin: 8px;
    background-color: #f9f9f9;
}
.nav-item
{
    font-size: 17px; 

}
.nav-item  i
{
    margin-right: 10px;
}

.navbar li a:hover
{
    opacity: .5;
}



.navbar-light .navbar-nav .nav-link
{
    color: #404040;
}

.name
{
    font-size: 32px;
    font-weight: 500;
    margin: 0px;
    line-height: 20px;
}
.d-name
{
    font-size: 13px;
    margin: 0px;
    line-height: 19px;
    margin-left: 2px;
}

.logo-icon
{
    position: absolute;
    height: 52px;
    width: 60px;
    right: 0;
    bottom: 0;
    
}
.logo
{
    position: relative;
    width: 165px;
    height: 50px;
}
.logo-text
{
    position: absolute;
    bottom: 5%;
    left: 0;
    
}
.offer-name
{
   
    height: 72px;
 
}
.offer-link
{
	color: #404040;
	text-decoration: none;
}
.offer-link:hover
{
	color:#404040;
	text-decoration:none;
}
.offer-link:hover .green-circle
{
	background-color:#2FAD55;
	opacity: .8;
}
.offer-img
{
    max-height: 430px;
    object-fit: cover;
    object-position: center;
    border-radius: 14px; 
    z-index: 1;
   filter: invert(42%) sepia(94%) 
   saturate(379%) hue-rotate(86deg) brightness(90%) contrast(82%) opacity(85%);
    
}
.text
{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.parallax
{
    position: relative;
}

.about-number
{
   color: #f9f9f9;
   font-size: 58px;
   margin: 0px;
  
  
}
.about-text
{
    color: #f9f9f9;
    font-size: 28px;
    line-height: 26px;
   
}

.about-row
{
    width: 70%!important;
    margin-right: 0px!important;
    left: 50px;
}

@media(max-width:768px)
{
    .background
    {
        text-align: center!important;
    }
}