html,
body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  /*ten kolor odpowiada za kolor czcionki*/
  --font-color: #333333;
  color: var(--font-color);
  width: 100%;
  background-color: #f9f9f9 !important;
  /*ten kolor można zmieniać zmieni się wtedy akcent (zielony)
    nie zmienia się tylko kolor filtra zdjęcia bo to więcej roboty*/
  --green1: #2fad55;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0px;
}

.horizontal-line {
  display: inline-block;
  border: 1px solid #dfdfdf;
  z-index: 900 !important;
}

#footer {
  position: fixed;
  z-index: -3;
  bottom: 0;
  width: 100%;
}

body {
  z-index: 2;
  margin-bottom: 45vh;
}

.arrow-down {
  filter: opacity(65%);
  width: 20px;
  height: 20px;
  display: inline-block;
}

.background {
  min-height: 45vh;
  /* background-color: rgba(223, 223, 223, 0.5); */
  background-image: url("../images/footer2.png");
  background-position: right;
  background-size: cover;
}

.contact-header {
  min-width: 194px;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-list {
  list-style: none;
  padding-left: 0px;
}

.caption-mod {
  left: 0;
  bottom: 0;
  text-align: center;
  height: 38vh;
  width: 100%;
  background-color: var(--green1);
  opacity: 0.9;
  transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
}

.offer-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caption-field {
  left: 0;
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
}

.name {
  font-size: 39px;
  font-weight: 500;
  margin: 0px;
  line-height: 20px;
}

.d-name {
  font-size: 15px;
  margin: 0px;
  margin-top: 2px;
  line-height: 18px;
  margin-left: 2px;
}

.label-height {
  height: 72px;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-head {
  position: absolute;
  font-size: 2.5rem;
  color: #dfdfdf;
  top: 10%;
  transform: translateY(-10%);
}

.about-number {
  color: #dfdfdf;
  font-size: 58px;
  margin: 0px;
}

.about-text {
  color: #dfdfdf;
  font-size: 28px;
  line-height: 26px;
}

.parallax {
  position: relative;
}

.offer-img {
  max-height: 50vh;
  /* object-fit: cover;
  object-position: center;*/
}

.row-margin {
  margin: 30px 0px;
}

.circle-header {
  padding: 22px 0px;
  margin: 0px;
}

#staticBtn {
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 99;
  border: 1px solid #dfdfdf;
  outline: none;
  background-color: transparent;
  color: var(--font-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  width: 50px;
  height: 50px;
}

#staticBtn:hover {
  background-color: #dfdfdf;
}

#staticBtn:hover .arrow-down {
  filter: invert(52%) sepia(59%) saturate(506%) hue-rotate(86deg)
    brightness(94%) contrast(92%);
}
.authors {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #dfdfdf;
  text-align: center;
  margin: 0;
  opacity: 0.5;
  font-size: 14px;
  padding: 4px 0;
}

.center-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 767px) {
  .about-text {
    font-size: 24px;
  }
  .about-head {
    font-size: 29px;
  }
  .about-number {
    line-height: 45px;
    font-size: 39px;
  }
  .text {
    display: none;
  }

  body {
    margin-bottom: 0;
  }
  #footer {
    position: relative;
    z-index: 2;
  }
  .background {
    text-align: center !important;
    height: 120vh;
    background-image: url("../images/footer6.png");
  }
  #staticBtn {
    display: none !important;
  }
  .upper-caption {
    font-size: 40px;
    margin: 5px 0px;
  }
  .description-caption {
    font-size: 20px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #footer {
    position: relative;
    z-index: 2;
  }
  body {
    margin-bottom: 0;
  }
  #staticBtn {
    display: none;
  }
}
