.navbar {
  position: absolute;
  width: 100%;
  z-index: 200;
  opacity: 0.8;
  padding: 15px 0;

  background: rgba(223, 223, 223, 0.5) !important;
}

.nav-item {
  font-size: 20px;
}
.nav-item {
  text-align: center !important;
}

.nav-item i {
  margin-right: 10px;
}

.navbar li a:hover {
  opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link {
  color: #333333;
}

.logo-icon {
  position: absolute;
  height: 57px;
  width: 65px;
  right: 0;
  bottom: -3px;
}

.logo {
  position: relative;
  width: 170px;
  height: 55px;
}

.logo-text {
  position: absolute;
  bottom: 5%;
  left: 0;
}
.logo-svg {
  width: auto;
  max-height: 80px;

  margin-left: -2px;
}
@media (max-width: 767px) {
  .logo-svg {
    margin-left: 20px;
  }
  .navbar-nav {
    margin-top: 27px;
  }

  .navbar-toggler {
    margin: 0 auto;
  }
}
@media (max-width: 340px) {
  .logo-svg {
    max-height: 70px;
  }
}
